# Upstart script for the site src watcher.
#
# {{ ansible_managed }}

respawn

start on runlevel [2345]
stop on runlevel [06]

script
  exec start-stop-daemon --start --chuid vagrant:www-data \
    --exec /usr/bin/fileschanged -- --recursive --exec /vagrant_data/build_site.sh /vagrant_data/src/
end script
