{
  "pkgcloudConfig": {
    "username": "",
    "apiKey": "",
    "provider": "rackspace",
    "region": "ORD"
  },
  "logLevel": "debug",
  "containerName": "drg-sponsorship-forms",
  "notificationAddress": "",
  "fromAddress": "Rackspace Developer Relations <sdk-support@rackspace.com>",
  "mailgun": {
    "apiKey": "",
    "domain": ""
  }
}
