# Upstart script for the Sphinx-autobuild site source watcher.
#
# {{ ansible_managed }}

respawn

start on runlevel [2345]
stop on runlevel [06]

script
  exec start-stop-daemon --start --chuid publisher \
    --chdir /vagrant_data/docs \
    --exec /usr/local/bin/sphinx-autobuild -- . /var/www/html/developer.rackspace.com/docs/
end script
