.valigned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.smallcapped {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
.hero-slider {
  color: white;
}
.hero-slider ul.slides li {
  display: block;
  width: 100%;
  background: black;
  background-repeat: no-repeat;
  background-position: 66% 30px;
  background-size: auto;
}
.hero-slider ul.slides li .bg {
  background: url(../img/hero-bottom-bg.svg) no-repeat;
  background-size: 111%;
  background-position: bottom center;
}
.hero-slider ul.slides li .inner {
  width: 940px;
  margin: auto;
  padding: 110px 70px 120px 70px;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.hero-slider ul.slides li .inner .topline {
  display: block;
  opacity: .7;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 2px;
}
.hero-slider ul.slides li .inner .headline {
  display: block;
  margin-top: 15px;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: -4px;
  line-height: .9em;
}
.hero-slider ul.slides li .inner .descriptive {
  display: block;
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
  opacity: .9;
}
.hero-slider ul.slides li .inner .ctabtn {
  display: inline-block;
  margin-top: 30px;
  color: black;
  padding: 15px 30px;
  border-radius: 100px;
  background: white;
  opacity: .9;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 2px;
}
.hero-slider ul.slides li .inner .ctabtn:hover {
  opacity: 1;
}
.hero-slider ul.slides li.hero-devtrial {
  background-color: #0eafcd;
  background-image: url(../img/slide4.svg);
}
.hero-slider ul.slides li.hero-devtrial .ctabtn {
  color: #0eafcd;
}
.hero-slider ul.slides li.hero-sdks {
  background-color: #1f9b48;
  background-image: url(../img/slide2.svg);
}
.hero-slider ul.slides li.hero-services {
  background-color: #df2134;
  background-image: url(../img/slide3.svg);
}
.hero-slider ul.slides li.hero-osshosting {
  background-color: #fdba22;
  background-image: url(../img/slide3.svg);
}
.hero-slider ul.slides li.hero-sponsorship {
  background-color: #824199;
  background-image: url(../img/slide3.svg);
}
.bodyitem.shieldboxes {
  margin: -40px auto 30px auto;
}
.bodyitem.shieldboxes ul {
  margin-left: -20px;
}
.bodyitem.shieldboxes ul li {
  display: block;
  width: 300px;
  padding: 20px 40px 80px;
  background: url(../img/shieldbox.svg) no-repeat bottom center;
  float: left;
  margin-left: 20px;
  text-align: center;
}
.bodyitem.shieldboxes ul li img {
  margin: 20px auto;
  display: block;
  max-height: 80px;
  opacity: .15;
}
.bodyitem.shieldboxes ul li .title {
  display: block;
  font-size: 2.2em;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.bodyitem.shieldboxes ul li .description {
  font-size: 1.2em;
  line-height: 1.5em;
  display: block;
}
.bodyitem.shieldboxes ul li .cta {
  display: inline-block;
  padding: 8px 0;
  width: 75%;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  border-radius: 30px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.bodyitem.shieldboxes ul li.shield1 .description {
  margin-bottom: 21px;
}
.bodyitem.shieldboxes ul li.shield1 .description .fineprint {
  line-height: 1em;
  font-size: .7em;
  color: #999;
  margin-top: 0px;
  display: block;
}
.bodyitem.shieldboxes ul li.shield1 a {
  color: #666;
}
.bodyitem.shieldboxes ul li.shield1 .cta {
  background: #fdba22;
  margin-top: 0;
  color: white;
}
.bodyitem.shieldboxes ul li.shield1 .cta:hover {
  background: #ef9923;
}
.bodyitem.shieldboxes ul li.shield2 .cta {
  background: #1f9b48;
}
.bodyitem.shieldboxes ul li.shield2 .cta:hover {
  background: #106745;
}
.bodyitem.shieldboxes ul li.shield3 .cta {
  background: #df2134;
}
.bodyitem.shieldboxes ul li.shield3 .cta:hover {
  background: #ab1d37;
}
.bodyitem.secondaryboxes {
  margin-bottom: 60px;
}
.bodyitem.secondaryboxes ul {
  margin-left: -20px;
}
.bodyitem.secondaryboxes ul li {
  display: block;
  width: 220px;
  padding: 10px;
  float: left;
  margin-left: 20px;
  text-align: center;
}
.bodyitem.secondaryboxes ul li img {
  margin: 20px auto;
  display: block;
  max-height: 60px;
  opacity: .15;
}
.bodyitem.secondaryboxes ul li .title {
  display: block;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.bodyitem.secondaryboxes ul li .description {
  font-size: 1em;
  display: block;
  margin-bottom: 20px;
}
.bodyitem.secondaryboxes ul li .cta {
  display: inline-block;
  padding: 8px 0;
  width: 66%;
  background: #0eafcd;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.bodyitem.secondaryboxes ul li .cta:hover {
  background: #1c4455;
}
.bodyitem.fromtheblog {
  padding-top: 60px;
  text-align: center;
  color: #1c4455;
  border-top: 1px solid #ccc;
}
.bodyitem.fromtheblog h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
}
.bodyitem.fromtheblog h2 a {
  color: #0eafcd;
  text-decoration: none;
}
.bodyitem.fromtheblog h2 a:hover {
  text-decoration: underline;
}
.bodyitem.fromtheblog ul {
  margin: 20px 0 0 -20px;
}
.bodyitem.fromtheblog ul li {
  display: block;
  width: 300px;
  padding: 20px;
  float: left;
  margin-left: 20px;
}
.bodyitem.fromtheblog ul li .title a {
  font-size: 1.4em;
  font-weight: 600;
  display: block;
  line-height: 1.1em;
  color: #1c4455;
  text-decoration: none;
}
.bodyitem.fromtheblog ul li .title a:hover {
  color: #0eafcd;
}
.bodyitem.fromtheblog ul li .byline {
  font-weight: 600;
  display: block;
  opacity: .8;
  margin-top: 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
