.valigned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.smallcapped {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
.bodyitem.shieldboxes.sixup ul li {
  width: 140px;
  padding: 40px;
  margin-bottom: 5px;
}
.bodyitem.shieldboxes.sixup ul li a {
  text-decoration: none;
}
.bodyitem.shieldboxes.sixup ul li a .imgwrap {
  display: block;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}
.bodyitem.shieldboxes.sixup ul li a img {
  max-height: 60px;
  display: block;
  margin: 0 auto;
  opacity: .5;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.bodyitem.shieldboxes.sixup ul li a .title {
  font-size: 1.4em;
  color: #333;
}
.bodyitem.shieldboxes.sixup ul li:hover {
  padding-bottom: 45px;
  margin-bottom: 0;
}
.bodyitem.sdktable {
  margin-bottom: 80px;
}
.bodyitem.sdktable a {
  color: #1f9b48;
}
.bodyitem.sdktable .lang {
  border-top: 1px solid #ccc;
  padding-top: 40px;
  margin: 40px 0 0 -20px;
}
.bodyitem.sdktable .lang .col {
  width: 220px;
  float: left;
  margin-left: 20px;
}
.bodyitem.sdktable .lang .col h2 {
  display: block;
  font-size: 2.6em;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: -3px;
}
.bodyitem.sdktable .lang .col .cta {
  padding: 10px 20px;
  background: #1f9b48;
  color: white;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
}
.bodyitem.sdktable .lang .col .cta:hover {
  background: #106745;
}
.bodyitem.sdktable .lang .col .colheader {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  display: block;
}
.bodyitem.sdktable .lang .col p {
  margin-top: 1em;
}
