<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.562</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:drgadmin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:drgadmin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:drgadmin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:drgadmin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:drgadmin</permission>
    <permission>hudson.model.Computer.Build:drgadmin</permission>
    <permission>hudson.model.Computer.Configure:drgadmin</permission>
    <permission>hudson.model.Computer.Connect:drgadmin</permission>
    <permission>hudson.model.Computer.Create:drgadmin</permission>
    <permission>hudson.model.Computer.Delete:drgadmin</permission>
    <permission>hudson.model.Computer.Disconnect:drgadmin</permission>
    <permission>hudson.model.Hudson.Administer:drgadmin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:drgadmin</permission>
    <permission>hudson.model.Hudson.Read:drgadmin</permission>
    <permission>hudson.model.Hudson.Read:drguser</permission>
    <permission>hudson.model.Hudson.RunScripts:drgadmin</permission>
    <permission>hudson.model.Hudson.UploadPlugins:drgadmin</permission>
    <permission>hudson.model.Item.Build:drgadmin</permission>
    <permission>hudson.model.Item.Build:drguser</permission>
    <permission>hudson.model.Item.Cancel:drgadmin</permission>
    <permission>hudson.model.Item.Cancel:drguser</permission>
    <permission>hudson.model.Item.Configure:drgadmin</permission>
    <permission>hudson.model.Item.Create:drgadmin</permission>
    <permission>hudson.model.Item.Delete:drgadmin</permission>
    <permission>hudson.model.Item.Discover:drgadmin</permission>
    <permission>hudson.model.Item.Discover:drguser</permission>
    <permission>hudson.model.Item.Read:drgadmin</permission>
    <permission>hudson.model.Item.Read:drguser</permission>
    <permission>hudson.model.Item.Workspace:drgadmin</permission>
    <permission>hudson.model.Item.Workspace:drguser</permission>
    <permission>hudson.model.Run.Delete:drgadmin</permission>
    <permission>hudson.model.Run.Update:drgadmin</permission>
    <permission>hudson.model.View.Configure:drgadmin</permission>
    <permission>hudson.model.View.Create:drgadmin</permission>
    <permission>hudson.model.View.Delete:drgadmin</permission>
    <permission>hudson.model.View.Read:drgadmin</permission>
    <permission>hudson.scm.SCM.Tag:drgadmin</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>true</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>
