{
  "pkgcloud": {
    "username": "{{ rackspace_username }}",
    "apiKey": "{{ rackspace_apikey }}",
    "region": "{{ common_region }}",
    "provider": "rackspace"
  },
  "srcDirectory": "_site/assets",
  "destContainer": "{{ production_container }}"
}
