{
  "pkgcloudConfig": {
    "username": "{{ rackspace_username }}",
    "apiKey": "{{ rackspace_apikey }}",
    "provider": "rackspace",
    "region": "{{ common_region }}"
  },
  "logLevel": "debug",
  "containerName": "{{ sponsorship_container }}",
  "notificationAddress": "{{ sponsorship_notification_email }}",
  "fromAddress": "Rackspace Developer Relations <sdk-support@rackspace.com>",
  "mailgun": {
    "apiKey": "{{ mailgun_apikey }}",
    "domain": "{{ mailgun_domain }}"
  }
}
