{
  "pkgcloudConfig": {
    "username": "{{ rackspace_username }}",
    "apiKey": "{{ rackspace_apikey }}",
    "provider": "rackspace",
    "region": "{{ lookup('env', 'RAX_REGION') | upper }}"
  },
  "logLevel": "debug",
  "containerName": "drg-sponsorship-forms",
  "notificationAddress": "{{ sponsorship_notification_email }}",
  "fromAddress": "Rackspace Developer Relations <sdk-support@rackspace.com>",
  "mailgun": {
    "apiKey": "{{ mailgun_apikey }}",
    "domain": "{{ mailgun_domain }}"
  }
}
