# Upstart script for the Jekyll site source watcher.
#
# {{ ansible_managed }}

respawn

start on runlevel [2345]
stop on runlevel [06]

script
  export LANG=en_US.UTF-8
  export LC_ALL=en_US.UTF-8

  ARGS="build --watch --verbose"
  ARGS="${ARGS} --source ."
  ARGS="${ARGS} --destination /var/www/html/developer.rackspace.com/"

  exec start-stop-daemon --start --chuid publisher \
    --chdir /vagrant_data/site_source \
    --exec /usr/local/bin/jekyll -- ${ARGS}
end script
