<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>DRG User</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.10">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$0gac/lu3pykHgc0lw8yAh.V6oWvoA.saqCDWb8qeGYUkkmQTk01YW</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDfkPsKroxkaCHiRja0lqUkrXR+5BM6urdD5G9+0M4iRJUhMy8oZOLADQEmKGy/eiWs9AMSdjMQz0Y7ZwExmNT7/k8ZznmFeylR6Ugkb6SSrOg+gV7RDloiAaRg6aSI6C1r9Mub+Tq6k577tv9vw/6Fttt0h9NlywZf7ukVB+lqFcceNNRNMfhvc2WAS6c9hNiLeR/xi2ZpkuR+JSOVwTLlake5aqJIkJAM4d0QFQtZgDASWRfBU8jY1HU30Xw4SWEKyQpbBsuNyvKFf9VXtMjt+kmroLLQSByRFVSkDxWhlxJT2Xh0EokH+osVox4k/spHjXcP9o5bHI152w5L6CG7 shau7246@MLC5VVFFT1
</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.8">
      <emailAddress>shaunak.kashyap@rackspace.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
